<%- include ('../partials/header') %>
<%- include ('../partials/menu') %>

<main>
    <div class="container d-flex flex-column justify-content-center align-items-center my-5">
      <div class="col"><%- include ('../partials/message') %></div>
      <h4>Login</h4>
      <form action="/login" method="POST">
        <div class="mb-3">
          <label for="username" class="form-label">Username:</label>
          <input type="text" id="username" name="username" class="form-control" />
        </div>
  
        <div class="mb-3">
          <label for="password" class="form-label">Password:</label>
          <input type="text" id="password" name="password" class="form-control" />
        </div>
  
        <button type="submit" class="btn btn-primary">Submit</button>
      </form>
    </div>
  </main>

<%- include ('../partials/footer') %>